
// ----------------------------------------
// mixins 
// ----------------------------------------

@mixin media($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin primary-type() {
    font-family: ff-tisa-web-pro, serif;
    font-style: normal;
    color: $text-color;
}

@mixin h1-text() {
    font-family: ff-tisa-web-pro, serif;
    font-style: normal;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    color: $text-color;
}

@mixin h2-text() {
    font-family: ff-tisa-web-pro, serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    color: $text-color;
}

@mixin body-text() {
    @include primary-type;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.33em;
    color: $text-color;
}

@mixin sans-serif() {
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.33em;
    color: $text-color;
}

// ----------------------------------------
// variables 
// ----------------------------------------

// breakpoints
$mobile: 450px;
$tablet: 768px;
$sm: 960px;
$md: 1200px;
$lg: 1500px;
$xl: 1800px;

$bkg: #FFFFFF; // white
// $bkg: rgb(34, 0, 0); // dark-mode-bkg

$active: #FF7500; // Pantone 2018 C
$text-color: #000; // black
// $text-color: rgb(177, 166, 162); // dark-mode-text


$container-padding: 8px;
$block-width: 600px;

// ----------------------------------------
// typography 
// ----------------------------------------

h1 {
    @include h1-text;
}

p {
    @include body-text;
    margin: 1.5em 0;
}

h1.hero {
    font-weight: 400;
    font-size: 2.4em;
    line-height: 1.2em;
}

h2 {
    @include h2-text;
}

// ----------------------------------------
// layout 
// ----------------------------------------

body {
    margin: 0;
}

.container {
    background-color: $bkg;
    padding: $container-padding;
}

.half-page-block_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 16px);
}

.half-page-block_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 25vh;
}

.text-block {
    width: $block-width;
}

.two-col {
    display: flex;
    flex-direction: column;

    @include media($sm) {
        flex-direction: row;
    }

    .two-col-left, .two-col-right {
        width: 50%;
    }
}

.image-block {
    width: 500px;
    height: 500px;
    background-image: url('../../static/portrait.jpg');
    background-size: contain;
}

.home-cta {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.home-cta-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 200px;

    p, ul {
        margin-top: 0px;
    }
}

// ----------------------------------------
// links 
// ----------------------------------------

a, a:visited {
    @include sans-serif;
    color: $text-color;
}

a:hover {
    color: $active;
}

.inline-link {
    font-weight: 700;
}

// ----------------------------------------
// lists 
// ----------------------------------------

ul {
    list-style: none;
    padding: 0px;
    margin: 1.5em 0;

    a {
        @include body-text;
        text-decoration: none;
    }

    a:before {
        content: '- ';
    }
}

.contact {  
    margin-top: 50px;

    li {
        display: inline;
    }

    a {
        @include sans-serif;
    }

    a:hover {
        color: $active;
    }

    a:before {
        content: none;
    }

    li:after {
        content: ' / '
    }

    li:last-child:after {
        content: '';
    }
}


// ----------------------------------------
// footer 
// ----------------------------------------

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 16px;
}

.copyright {
    @include primary-type;
    font-size: .8em;
    opacity: .5;
}